<h1> Stations within 6 miles of you </h1>
<ul>
<% @facade.stations_by_zip.each do |station| %>
<li><%=station.name%></li>
<li><%=station.fuel_type%></li>
<li><%=station.distance%></li>
<li><%=station.access_times%></li>
<li><%=station.street_address%></li>
<br>
<%end%>
</ul>
